*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.heading-txt{
    width: 400px;
    min-height: 400px;
    color: white;
    font-size: xx-large;
    font-weight: 700;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(253, 253, 253);
    text-shadow: 2px 2px 0px rgba(64, 116, 181, 1), 
                 2px -2px 0px rgba(64, 116, 181, 1), 
                 -2px 2px 0px rgba(64, 116, 181, 1), 
                 -2px -2px 0px rgba(64, 116, 181, 1), 
                 2px 0px 0px rgba(64, 116, 181, 1), 
                 0px 2px 0px rgba(64, 116, 181, 1), 
                 -2px 0px 0px rgba(64, 116, 181, 1), 
                 0px -2px 0px rgba(64, 116, 181, 1);
}

.container{
    width: 400px;
    height: 400px;
    background-color: #dfdfdf;
    border: 2px solid white;
    border-radius: 5%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0px 2px 20px #000;

}

.question, #question-number, #question-txt{
    justify-content: left !important;
}

.question{
    height: 100px;
    /* height: auto; */
    width: 380px;
    margin:  auto;
    border: 2px solid white;
    color: #fff;
    background-color:  #000000;
    border-radius: 8px;
    box-shadow: 0px 0.5px 5px #000;
    margin-top: 15px;
    padding: 10px;    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    justify-content: left;
}

#next-button{
    background-color: rgb(10, 53, 54);
    color: white;
    padding: 5px 20px;
    border:  2px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    position: absolute;
    margin-inline: 150px;
    bottom: 10px;
    box-shadow: rgba(20, 16, 16, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.option-btn{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    height: auto;
    padding: 3px;
    background-color: #fff;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;

    
}

.option-btn:hover{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    height: auto;
    padding: 3px;
    background-color: #2fa0bd;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.question{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question-number{
    margin-right: 5px;
}

.checked{
    background-color: #2fa0bd;
    color:#fff;
    box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
  }

.reslt{
    width: 220px;
    height: 80px;
    text-align: center;
    margin: auto;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(40 75 1 / 93%);
    border: 3px solid #fff;
    box-shadow: 4px 4px 13px black;
    color: #fff;
    border-radius: 10px;
    margin-top: 30%;   
}



.timer{
    padding: 20px;
    text-align: center;
}



